<h1>Коллега!</h1>

<b>Поздравляем, ты хорошо поработал, а Time Tracker хорошо и аккуратно посчитал твое время:</b>
<p></p>

<p><%= link_to '#' + @tracker.issue_id.to_s,
        { :controller => '/issues', :action => 'show', :id => @tracker.issue_id, :only_path => false }
%> - <%= @tracker.time_spent_to_s %></p>

<p>Правда, потом ты пошел домой, а Time Tracker всю ночь держал для тебя неостановленные счетчики.</p>

<p>Не забывай слова классиков: если у тебя есть счетчик, останови его — дай отдохуть и счетчику.
Тем более что согласно утвержденной процедуре это нужно делать в конце каждого рабочего дня.</p>
<p></p>
<p>Вовремя остановленный счетчик делает менеджеров и бизнес-лидеров счастливыми, а у бога остается меньше поводов убить котенка.</p>
<p></p>
<p>Мир тебе, дружба и жвачка.<p>

